<mat-toolbar color="primary" [class.mat-elevation-z1]="true">
  <span class="mat-body-strong ellipsis">P3X Angular HTTP Cache Interceptor v{{ version }}</span>
</mat-toolbar>


<div style="margin: 25px;">

  <nav mat-tab-nav-bar mat-stretch-tabs backgroundColor="primary" color="accent">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <mat-card style=" border-top-left-radius: 0px; border-top-right-radius: 0px;">
    <router-outlet></router-outlet>
  </mat-card>
</div>
