<mat-toolbar color="primary" [class.mat-elevation-z1]="true">
  <span class="mat-body-strong">P3X Angular HTTP Cache Interceptor v{{ version }}</span>
</mat-toolbar>

<div style="margin: 25px;">
  <mat-card>
    <div>
      <button mat-flat-button color="primary" (click)="loadCached()">Load cached data</button>
      <br/>
      <br/>
      <div class="mat-caption">Itt will try to load some random data with cached data.</div>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div>
      <button mat-flat-button color="primary" (click)="loadNonCached()">Load data with disabled cache</button>
      <br/>
      <br/>
      <div class="mat-caption">It will try to load some random data without cache.</div>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div>
      <a mat-button color="accent" href="https://pages.corifeus.com/angular-http-cache-interceptor" target="_blank">Corifeus pages Wiki about this package and info</a>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div>
      <a mat-button color="accent" href="https://github.com/patrikx3/angular-http-cache-interceptor" target="_blank">GitHub</a>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div>
      <a mat-button color="accent" href="https://www.npmjs.com/package/p3x-angular-http-cache-interceptor" target="_blank">NpmJS</a>
    </div>
  </mat-card>
</div>
