.list-item-fix {
  padding-left: 15px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-button-wrapping.mat-button {
  white-space: normal !important;
  text-align: left;
}
.link-fix {
  $pos: 15px;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  padding-top: $pos;
  padding-bottom: $pos;
  text-align: left;
}
