.list-item-fix {
  padding-left: 15px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-button-wrapping.mat-button {
  white-space: normal !important;
  text-align: left;
}
.link-fix {
  display: block;
  $pos: 5px;
  padding: $pos;
  text-align: left;
}
